<!-- Footer -->
<footer class="content-footer footer bg-footer-theme">
    <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
      <div class="mb-2 mb-md-0">
        ©
        <script>
          document.write(new Date().getFullYear());
        </script>
        <a href="https://tr.linkedin.com/in/masum-babacan-469bb020b" target="_blank" class="footer-link fw-bolder"> / Hüseyin Cerit</a>
      </div>
    </div>
  </footer>
  <!-- / Footer -->

  <div class="content-backdrop fade"></div>
</div>
<!-- Content wrapper -->
</div>
<!-- / Layout page -->
</div>

<!-- Overlay -->
<div class="layout-overlay layout-menu-toggle"></div>
</div>
<!-- / Layout wrapper -->

<!-- Core JS -->
<!-- build:js assets/vendor/js/core.js -->
<script src="/admin/assets/vendor/libs/jquery/jquery.js"></script>
<script src="/admin/assets/vendor/libs/popper/popper.js"></script>
<script src="/admin/assets/vendor/js/bootstrap.js"></script>
<script src="/admin/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
<script src="/admin/assets/vendor/js/menu.js"></script>
<!-- endbuild -->

<script src="/kurumsal/assets/js/owl.carousel.min.js"></script>,

<script src="/trumbowyg/dist/trumbowyg.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/prism.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/plugins/line-highlight/prism-line-highlight.min.js"></script>
<script src="/trumbowyg/dist/plugins/highlight/trumbowyg.highlight.min.js"></script>
<script src="/trumbowyg/dist/plugins/fontfamily/trumbowyg.fontfamily.min.js"></script>
<script src="/trumbowyg/dist/plugins/fontsize/trumbowyg.fontsize.min.js"></script>
<script src="/trumbowyg/dist/plugins/emoji/trumbowyg.emoji.min.js"></script>
<script src="/trumbowyg/dist/plugins/colors/trumbowyg.colors.min.js"></script>
<script src="/trumbowyg/dist/plugins/base64/trumbowyg.base64.min.js"></script>
<script src="/trumbowyg/dist/plugins/giphy/trumbowyg.giphy.min.js"></script>
<script src="/trumbowyg/dist/plugins/history/trumbowyg.history.min.js"></script>
<script src="/trumbowyg/dist/plugins/indent/trumbowyg.indent.min.js"></script>
<script src="/trumbowyg/dist/plugins/insertaudio/trumbowyg.insertaudio.min.js"></script>
<script src="/trumbowyg/dist/plugins/lineheight/trumbowyg.lineheight.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML"></script>
<script src="/trumbowyg/dist/plugins/mathml/trumbowyg.mathml.min.js"></script>
<script src="/trumbowyg/dist/plugins/noembed/trumbowyg.noembed.min.js"></script>
<script src="/trumbowyg/dist/plugins/pasteembed/trumbowyg.pasteembed.min.js"></script>
<script src="/trumbowyg/dist/plugins/pasteimage/trumbowyg.pasteimage.min.js"></script>
<script src="//rawcdn.githack.com/RickStrahl/jquery-resizable/0.35/dist/jquery-resizable.min.js"></script>
<script src="/trumbowyg/dist/plugins/resizimg/trumbowyg.resizimg.min.js"></script>
<script src="/trumbowyg/dist/plugins/upload/trumbowyg.upload.min.js"></script>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<!-- Vendors JS -->
<script src="/admin/assets/vendor/libs/apex-charts/apexcharts.js"></script>

<!-- Main JS -->
<script src="/admin/assets/js/main.js"></script>

<!-- Page JS -->
<script src="/admin/assets/js/dashboards-analytics.js"></script>

<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
<script type="text/javascript">
// <![CDATA[  <-- For SVG support
// ]]>
</script>
</body>
</html>
