    <!-- Footer Start -->
    <footer id="rs-footer" class="rs-footer style1">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-12 col-sm-12 md-mb-10">
                        <h3 class="footer-title">İletişim</h3>
                        <ul class="address-widget">
                            <li>
                                <i class="flaticon-call"></i>
                                <div class="desc">
                                    <a href="tel:(+880)15569569365">Telefon</a>
                                </div>
                            </li>
                            <li>
                                <i class="flaticon-email"></i>
                                <div class="desc">
                                    <a href="mailto:support@rstheme.com">email</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row y-middle">
                    <div class="col-lg-6">
                        <div class="copyright text-lg-start text-center ">
                            <p>© 2022 Password-manager - Hüseyin Cerit</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer End -->
    <!-- start scrollUp  -->
    <div id="scrollUp" class="orange-color">
        <i class="fa fa-angle-up"></i>
    </div>
    <!-- End scrollUp  -->
    <!-- Search Modal Start -->
    <div class="modal fade search-modal" id="searchModal" tabindex="-1">
        <button type="button" class="close" data-bs-dismiss="modal">
            <span class="flaticon-cross"></span>
        </button>
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="search-block clearfix">
                    <form>
                        <div class="form-group">
                            <input class="form-control" placeholder="Search Here..." type="text">
                            <button type="submit" value="Search"><i class="flaticon-search"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="/kurumsal/assets/js/modernizr-2.8.3.min.js"></script>
    <script src="/kurumsal/assets/js/jquery.min.js"></script>
    <script src="/kurumsal/assets/js/bootstrap.min.js"></script>
    <script src="/kurumsal/assets/js/jquery.nav.js"></script>
    <script src="/kurumsal/assets/js/isotope.pkgd.min.js"></script>
    <script src="/kurumsal/assets/js/owl.carousel.min.js"></script>
    <script src="/kurumsal/assets/js/wow.min.js"></script>
    <script src="/kurumsal/assets/js/skill.bars.jquery.js"></script>
    <script src="/kurumsal/assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="/kurumsal/assets/js/waypoints.min.js"></script>
    <script src="/kurumsal/assets/js/jquery.counterup.min.js"></script>
    <script src="/kurumsal/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="/kurumsal/assets/inc/custom-slider/js/jquery.nivo.slider.js"></script>
    <script src="/kurumsal/assets/js/contact.form.js"></script>
    <script src="/kurumsal/assets/js/main.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>
