<%- include('./include/header.ejs'); -%>
        <div id="rs-services" class="rs-services style2 gray-bg pt-100 pb-100 md-pt-70 md-pb-70">
            <div class="container">
                <div class="rs-contact contact-style2 bg11 pt-95 pb-100 md-pt-65 md-pb-70">
                    <div class="container">
                        <div class="sec-title2 d-flex justify-content-center align-items-center mb-60 md-mb-40">
                            <div class="first-half text-center">
                                <div class="sub-text">Şifremi unuttum</div>
                                <h2 class="title mb-0 md-pb-20">
                                    Lütfen email adresinizi girin
                                </h2>
                            </div>
                        </div>
                        <div class="row y-middle">
                            <div class="col-lg-6 md-mb-50">
                                <div class="contact-img">
                                    <img src="https://img.freepik.com/free-vector/concept-man-thinking-laptop_505620-959.jpg?size=626&ext=jpg&ga=GA1.2.1503612855.1653411662" alt="Contact">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="contact-wrap">
                                    <div id="form-messages"></div>
                                    <form id="forgotPassword-form" method="post">
                                        <fieldset>
                                            <div class="row">
                                                <div class="col-lg-12 col-md-12 col-sm-12 mb-30">
                                                    <input class="from-control" type="email" id="email" name="email" placeholder="Email" required="">
                                                </div>
                                            </div>
                                            <div class="btn-part">
                                                <div class="form-group mb-0">
                                                    <input class="readon submit" type="submit" value="Şifremi Kurtar">
                                                </div>
                                            </div>
                                        </fieldset>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<%- include('./include/footer.ejs'); -%>
<script>
    function serializeConvertToJson(element) {
        var config = {};
        jQuery(element).serializeArray().map(function(item) {
            if ( config[item.name] ) {
                if ( typeof(config[item.name]) === "string" ) {
                    config[item.name] = [config[item.name]];
                }
                config[item.name].push(item.value);
            } else {
                config[item.name] = item.value;
            }
        });
        return config;
    }
    
    $("#forgotPassword-form").on("submit",(e) => {
        e.preventDefault();
        let data = serializeConvertToJson($("#forgotPassword-form"));
        $.ajax({
            url : "<%=baseURL%>/sifremi-unuttum",
            type : "POST",
            data : data,
            success : (response) => {
                if (response.status === "success") {
                    Swal.fire({
                        icon: response.status,
                        text: response.msg,
                        confirmButtonText:`<a href="<%=baseURL%>/sifre-sifirlama" class="text-white"><i class="fa fa-thumbs-up"></i> Şifremi Sıfırla</a>`,
                    })
                }else{
                    Swal.fire({
                        icon: response.status,
                        text: response.msg
                    })
                }
            }
        })
    })
</script>