<%- include('./include/header.ejs'); -%>
        <div id="rs-services" class="rs-services style2 gray-bg pt-100 pb-100 md-pt-70 md-pb-70">
            <div class="container">
                <div class="sec-title2 d-flex justify-content-center align-items-center mb-60 md-mb-40">
                    <div class="first-half text-center">
                        <div class="sub-text">Kayıt Olun</div>
                        <h2 class="title mb-0 md-pb-20">
                            Şifreleriniz Güvende! Kayıt olun ve hesap şifrelerinizi kaydedin, Her yerden ulaşın ve güvenli bir şekilde saklayın!
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    <!-- Main content End -->
    <%- include('./include/footer.ejs'); -%>